body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.newicon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

body {
  /* CSS3 抗锯齿形 让文字显示的更加清晰 */
  -webkit-font-smoothing: antialiased;
  background: #fff;
  color: #666;
  font: 14px/1.5;
  font-family: "Microsoft YaHei", "Arial", "黑体", "\5B8B\4F53", sans-serif;
}

td,
th,
caption {
  font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-size: 100%;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal;
}

i,
em {
  font-style: normal;
}

a {
  color: #999;
  text-decoration: none;
  font-size: 12px;
}

a:hover {
  color: #f10215;
}


html,
body {
  height: 100%;
  width: 100%;
}

img {
  border: none;
  /* 取消图片底侧有空白缝隙的问题 */
  vertical-align: middle;
}

ol,
ul,
li {
  list-style: none;
}

input,
textarea,
select,
button {
  font: 14px "Microsoft YaHei", "Arial", "黑体", "宋体", sans-serif;
  border: 0;
  outline: none;
}

button {
  /* 当我们鼠标经过button 按钮的时候，鼠标变成小手 */
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

/*公共类*/
.fl {
  float: left;
}

.fr {
  float: right;
}

.al {
  text-align: left;
}

.ac {
  text-align: center;
}

.ar {
  text-align: right;
}

.hide {
  display: none;
}

/*背景及色值表*/
.bg000 {
  background: #000;
}

.color000 {
  color: #000;
}

.padding90 {
  padding: 90px 0;
}

* {
  box-sizing: border-box;
}